@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syncopate", sans-serif;
}
.main-heading {
    background: rgb(177, 218, 231);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
.main-heading h1 {
    font-size: 90px;
}

.second{
    background: rgb(107, 197, 171);
}
.third{
    background: rgb(170, 107, 197);
}
.fourth{
    background: #d77d7d;
}
.Fifth{
    background: #807cca;
}